body {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
  background-color: white;
}

#header {
  position: fixed;
    left: 0;
    top: 0;
  width: 100%;
  background-color: #DEDEDD;
  height: 100px;
}

#logo {
  padding: 12px 0 0 20px;
}

#about {
  font-size: 16px;
  display: inline;
  position: fixed;
    right: 200px;
    top: 40px;
}

#contact {
  font-size: 16px;
  display: inline;
  position: fixed;
    right: 50px;
    top: 40px;
}

.aheader {
  color: #005957;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
}

a.aheader:hover {
  color: #CC7A00;
}

a.sitelinks {
  color: #950000;
}

a.sitelinks:hover {
  color: #FF0000;
}

a.nodecoration {
  text-decoration: none;
  color: #005957;
}

#introtext {
  color: #005957;
  font-size: 40px;
  width: 50%;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

#homepage {
  width: 100%;
  margin-top: 125px;
}

#loginpage {
  margin-top: 300px;
  margin-left: 45%;
  text-align: left;
}

#detailpage {
  margin-top: 150px;
  height: 800px;
}

#aboutpage {
  margin-top: 150px;
}

#contactpage {
  margin-top: 150px;
}

.detailtitle {
  font-size: 30px;
  color: #005957;
  font-weight: 700;
  margin-bottom: 0px;
}

#cmspage {
  margin-top: 150px;
  margin-left: 30px;
}

label {
  display: block;
}

.bold {
  font-weight: 700;
}

.right {
  float: right;
  margin: 0 0 20px 20px;
}

.contentwrapper {
  width: 90%;
  margin: 0 auto;
}

input[type=text] {
  padding: 5px;
  display: block;
  font-size: 20px;
  color: #005957;
  border: 2px solid #005957;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

input[type=password] {
  padding: 5px;
  display: block;
  font-size: 20px;
  color: #005957;
  border: 2px solid #005957;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

textarea {
  padding: 5px;
  display: block;
  font-size: 20px;
  color: #005957;
  border: 2px solid #005957;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

button {
  background-color: #005957;
  padding: 7px 15px;
  margin-top: 15px;
  font-size: 20px;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  color: #DEDEDD;
}

#logout-button {
  background-color: #DEDEDD;
  padding: 0;
  font-size: 10px;
  color: #005957;
}

#homepage-projects {
  margin: 0 auto;
}

#appnav {
  text-align: center;
  padding-bottom: 15px;
}

.appnav {
  text-decoration: none;
  padding: 0 15px;
  font-weight: 700;
  color: #005957;
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
}

.appnav:hover {
  color: #CC7A00;
}

.entire-homepage-project {
  display: inline-block;
}

.container {
  width: 615px;
}

.detailcontainer {
  width: 800px;
  margin: 0 auto;
}

p.nospace {
  margin: 3px 0 0 0;
}

p.nospacetop {
  margin: 3px 0 60px 0;
}

.imageborder {
  border: 2px solid #000000;
}

.imageborder:hover {
  border: 2px solid #ff0000;
}

.imagenolink {
  border: 4px solid #950000;
  margin-top: 5px;
}

.image {
  vertical-align: bottom;
}

#showpageResults {
  text-align: center;
}

.showimg {
  width: 50%;
}

.leftjust {
  text-align: left;
}

p.indent {
  text-align: left;
  text-indent: 25px;
  padding: 0 40px;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.whitespace {
  height: 45px;
}

.description {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.centerpage {
  margin: 0 auto;
  text-align: center;
}

.centerHeader {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #005957;
}

footer {
  width: 100%;
  height: 35px;
  background-color: #DEDEDD;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
  color: #005957;
  position: fixed;
    bottom: 0px;
}
