/*body {background-color:#200;}

.imgwrap {
  width:400px;
  margin:0px auto;
  background-color:#900;
  padding:5px;
  overflow:hidden;
}
.imgwrap img {
  display:inline-block;
  width:120px;
  height:120px;
  margin:5px;
  cursor:pointer;
  -webkit-transition:opacity 0.26s ease-out;
  -moz-transition:opacity 0.26s ease-out;
  -ms-transition:opacity 0.26s ease-out;
  -o-transition:opacity 0.26s ease-out;
  transition:opacity 0.26s ease-out;
}

.imgwrap:hover img {
  opacity:0.1;
}

.imgwrap:hover img:hover {
  opacity:1;
}*/

#header {
  position: fixed;
    left: 0;
    top: 0;
  width: 100%;
  background-color: #F8F8F5;
  height: 100px;
}

#logo {
  padding: 12px 0 0 20px;
}

#about {
  font-family: verdana;
  font-size: 16px;
  display: inline;
  position: fixed;
    right: 200px;
    top: 40px;
}

#contact {
  font-family: verdana;
  font-size: 16px;
  display: inline;
  position: fixed;
    right: 50px;
    top: 40px;
}

.aheader {
  color: black;
  text-decoration: none;
  border-bottom: none;
  -webkit-transition: all 0.5s ease;
}

a.aheader:hover {
  color: #B79999;
  border-bottom: none;
}

#homepage {
  width: 100%;
  margin-top: 125px;
}

#homepage-projects {
  margin: 0 auto;
}

#appnav {
  text-align: center;
}

.entire-homepage-project {
  display: inline-block;
}

.container {
  width: 700px;
}

p.nospace {
  margin: 3px 0 0 0;
}

.imageborder {
  border: 2px solid #000000;
}

.imageborder:hover {
  border: 2px solid #ff0000;
}

.image {
  vertical-align: bottom;
}

p.indent {
  text-align: left;
  text-indent: 25px;
  padding: 0 40px;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}
