<div class="contentwrapper">
  <p class="centerHeader">About Me</p>
  <p><img class="right imagenolink" src="http://joelevinger.s3-us-west-2.amazonaws.com/images/joe.jpg" alt="">Husband, Dad, Photographer, Hammered Dulcimer Player, Aspiring Web Developer...</p>
  <p>After graduating from music school, I started my career as a software developer, programming in 3rd generation languages. Four years and two promotions later, though, I decided that it was time to pursue other interests. Then, in 2001, I jumped on the dot com bandwagon, went to web design school, and launched my own freelance web design business, which I have continued to this day.</p>
  <p>As Ruby on Rails began to become more and more commonly used, though, it seemed only natural to learn a bit more about this relatively new technology. I started my Rails journey by completing an online Ruby on Rails bootcamp run by <a href="http://www.gotealeaf.com/" class="sitelinks" target="_blank">Tealeaf Academy</a>, and branched out into JavaScript at <a href="https://generalassemb.ly/boston" class="sitelinks" target="_blank">General Assembly</a>, in order to further hone my skills, ultimately combining my programming and web design backgrounds into a new career as a full-stack junior web developer.</p>
  <p>While at Tealeaf, I created <a href="http://www.joelevingerblog.com" class="sitelinks" target="_blank">a Ruby on Rails blog</a> as both a means of reinforcing the material I learned and as an <span class="italic">aide memoire</span> as well. Perhaps it will be of use to those of you who are beginning your Rails journey. Some of my posts:</p>
  <ul>
    <li><a href="http://joelevingerblog.com/week-16creating-a-webhook-and-acceptance-behavior-driven-development/" class="sitelinks" target="_blank">Creating a Webhook and BDD</a></li>
    <li><a href="http://joelevingerblog.com/week-15beyond-mvc-creating-decorators-and-service-objects-and-mocks-stubs/" class="sitelinks" target="_blank">Beyond MVC, Creating Decorators and Service Objects, and Mocks &amp; Stubs</a></li>
    <li><a href="http://joelevingerblog.com/week-14separating-actors-file-uploading-and-credit-card-processing/" class="sitelinks" target"=_blank">Separating Actors, File Uploading, and Credit Card Processing</a></li>
    <li><a href="http://joelevingerblog.com/week-13concerns-sidekiq-and-unicorn/" class="sitelinks" target="_blank">Concerns, Sidekiq, and Unicorn</a></li>
  </ul>
</div>
