<div class="centerpage">
  <p class="centerHeader">Contact Me</p>
  <p>Want to learn more about me?  Here's how:</p>
  <p>
    <a href="https://github.com/jlevinger/" class="sitelinks" target="_blank">GitHub</a>
  </p>
  <p>
    <a href="http://www.joelevingerblog.com/documents/resume.pdf" class="sitelinks" target="_blank">R&eacute;sum&eacute;</a>
  </p>
  <p>
    <a href="http://www.linkedin.com/in/joelevinger" class="sitelinks" target="_blank">LinkedIn</a>
  </p>
  <p>
    <a href="http://www.joelevingerblog.com/" class="sitelinks" target="_blank">Ruby on Rails Blog</a>
  </p>
  <p></p>
  <p>Or, just <a href="mailto:joe@joelevinger.com" class="sitelinks">send me an email!</a></p>
</div>
